accelerate==1.13.0
datasets==3.6.0
einops==0.8.2
mmengine==0.10.7
numpy==1.26.4
safetensors==0.7.0
scipy==1.17.1
sentencepiece==0.2.1
torch==2.7.1+cu128
tqdm==4.68.1
transformers==4.52.4
triton==3.3.1
opencompass==0.5.0
